global
    maxconn 50000
    log stdout format raw local0

defaults
    mode http
    log global
    timeout connect 5s
    timeout client 30s
    timeout server 30s
    option forwardfor
    option http-server-close

frontend http_front
    bind *:8080
    default_backend app_servers

backend app_servers
    balance roundrobin
    option http-keep-alive
    http-reuse always
    server app1 app1:8000 check inter 5s
    server app2 app2:8000 check inter 5s
